<style>
  .group {
    margin-top: 15px;
  }
</style>

<div class="section">
  <h3>Standard</h3>
  <div class="group g-01">
    <ui-asset></ui-asset>
    <span class="text"></span>
  </div>

  <div class="group g-02">
    <ui-asset value="-1"></ui-asset>
    <ui-input value="foobar"></ui-input>
    <span class="text"></span>
  </div>

  <div class="group g-03">
    <ui-asset value="-1" disabled></ui-asset>
    <span class="text"></span>
    <ui-button id="focus" class="mini blue">Focus</ui-button>
  </div>

  <span id="event">event: ---</span>
</div>

